/* body{
    border: 1px solid red;
} */

.search-container {
    margin: 0 auto;
    width: 25%;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
}

.search-container input{
    width: 300px;
    height: 30px;
    margin-right: 10px;
}

.search-container button{
    height: 30px;
}

.search-container label{
    font-style: italic;
    font-size: 1.5em;
}

.image{
    margin:30px;
    width:400px;
}

.image_gallery{
    display:flex;
    flex-wrap: wrap;
}

.image_submit{
    margin:10px auto;
    padding: 5px;
    display: block;
}

.image_thumbnail{
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.image_full{
    height:720px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.container{
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    font-family: 'Bungee', cursive;
    font-size: 2.5em;
    font-weight: bold;
    color:white;
}