/* body{
    border: 1px solid red;
} */
.image{
    margin:30px;
    width:400px;
}

.image_gallery{
    display:flex;
    flex-wrap: wrap;
}

.image_submit{
    margin:10px auto;
    padding: 5px;
    display: block;
}

.image_thumbnail{
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}